<div class="container">
  <h1 class="text-center mb-3">
    This is a <em>TODO List</em> Application by Anul Jain
  </h1>
  <app-add-todo (addNewTodo)="addNewTodo($event)"></app-add-todo>
  <div class="card">
    <h5 class="card-header">Your TODOS</h5>
    <div class="card-body">
      <div *ngIf="this.todos.length === 0; else elseBlock">
        No TODOS to display!!!
      </div>
      <ng-template #elseBlock
        ><div *ngFor="let todo of todos; index as i">
          <app-todo-item
            [todo]="todo"
            [i]="i"
            (deleteTodoItem)="deleteTodoItemFunction($event)"
            (markTodoAsDone)="markTodoAsDone($event)"
          >
          </app-todo-item></div
      ></ng-template>
    </div>
  </div>
</div>
