<div class="container my-3">
  <div class="bg-light p-5">
    <h1 class="display-4">About This Angular App</h1>
    <p class="lead">
      This is a simple <strong><em>'Todo List'</em></strong> web app to create and store your 
      todo list in the browser using core features of <strong><em>'Angular'</em></strong> and
      deployed using free hosting provided by <strong><em>'Github'</em></strong>.
    </p>
    <hr class="my-4" />
    <p>
      It uses Angular, TypeScript, Bootstarp.
    </p>
    <a class="btn btn-primary btn-lg" routerLink="/" role="button">Get Started</a>
  </div>
</div>
